$main_color: #C93679;
$parColor: #222222;
$headerSize: 24px;
$paraSize: 18px;
$dateSize: 22px;

.featured-events {
    position: relative;
    margin-top: 50px;

    .card {
        img {
            width: 414px;
            // height: 259px;
            height: auto;
            border-radius: 3px;
        }

        .heart-on-card {
            background-color: #FDFDFD;
            width: 40px;
            height: 40px;
            display: block;
            border-radius: 50px;
            float: right;
            top: 40%;
            right: 10px;
            position: absolute;

            .fa-heart {
                font-size: $paraSize + 5;
                cursor: pointer;
                text-align: center !important;
                line-height: 40px;
                display: block;
                color: #000;
            }

            // img {
            //     width: 25px;
            //     cursor: pointer;
            //     display: block;
            //     margin: 10px auto;
            // }
        }

        h5.card-title {
            color: $main_color;
            font-size: $headerSize;
            font-weight: bold;
        }

        b.published-date {
            font-size: $dateSize;
            font-weight: bold;
        }

        span.city-state {
            font-size: $dateSize;
        }

        p {
            color: $parColor;
        }
    }


}