<section class="featured-events">
  <!-- Start of loading spinner -->
  <div class="container">
    <div class="row" *ngIf="loading; else loaded">
      <div class="mx-auto" style="margin-bottom: 30px">
        <app-loading></app-loading>
      </div>
    </div>
  </div>
  <!-- End of loading spinner -->

  <ng-template #loaded>
    <div class="container">
      <app-search-bar></app-search-bar>
      <div class="row">
        <div class="col-md-4" *ngFor="let event of listOfEvents">
          <div class="card mb-3">
            <a [routerLink]="['/events/events-details', event.id, event.title]">
              <ng-container *ngIf="event">
                <img
                  src="{{ event.imageURL }}"
                  class="card-img-top img-fluid"
                  onerror="this.src='assets/images/has-no-image.png';"
                  alt="{{ event.title }}"
                />
              </ng-container>
            </a>
            <div class="heart-on-card">
              <i class="far fa-heart"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ event.title }}</h5>
              <p class="card-text">
                <!-- <b>{{ event.createdAt | date: "MMM d, y, h:mm:ss a" }}</b> -->
                <b style="font-size: 12px">{{
                  event.publishedDate | date: "MMM d, y, h:mm:ss a"
                }}</b>
                &nbsp; &nbsp; &nbsp;
                <span class="text-danger font-weight-bold">{{
                  event.soldOut
                }}</span>
                <br />
                <span>{{ event.city }}, {{ event.state }}</span>
              </p>
              <p class="card-text">{{ event.summary }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</section>
