.main__nabbar {
    position: relative;
    nav {
        position: relative;

        a {
            text-transform: uppercase;

        }
    }

    // .bg-light {
    //     background: none !important;
    // }
}