<section class="search-bar-container">
  <div class="container">
    <h3>Events</h3>
    <p>Start networking at our events!</p>
    <div class="row">
      <div class="col-md-4">
        <label for="search">Search</label>
        <input
          type="text"
          name="search"
          id="search"
          class="form-control form-control-md"
          placeholder="Search for type of event"
          required
        />
      </div>
      <div class="col-md-4">
        <label for="where">Where</label>
        <input
          type="text"
          name="where"
          id="where"
          class="form-control form-control-md"
          placeholder="Location, Zip Code, City"
          required
        />
      </div>
      <div class="col-md-2">
        <a href="#" class="btn btn-danger" id="search-event">Search</a>
      </div>
      <div class="col-md-2">
        <a href="#" class="btn btn-danger" id="search-event2">Post Event</a>
      </div>
    </div>
  </div>
</section>
