$main_color: #C92570;
$textColor: #222;

.search-bar-container {
    position: relative;

    // margin: 0px auto 104px auto;

    .container {
        position: relative;

        h3 {

            color: $textColor;
            font-weight: bold;
            font-size: 42px;
            margin-bottom: 16px;
        }

        p {
            color: $main_color;
            font-weight: bold;
            font-size: 21px;
            margin-bottom: 16px;
        }


        /*Start of search form*/
        .search-form-container {
            position: relative;
            margin-bottom: 104px;
            // margin-top: 57px;

            .form-group {
                position: relative;

                label {
                    font-size: 21px;
                }



                input[type="text"] {
                    width: 477px;
                    width: 340px;
                    height: 56px;


                }

                a#search-event-btn {
                    width: 170px;
                    width: auto;
                    height: 56px;

                    line-height: 2.9rem;
                    margin-top: 39px !important;
                    background-color: $main_color;

                    font-size: 24px;
                }

                a#search-event-btn-2 {
                    width: 170px;
                    height: 56px;
                    line-height: 2.9rem;
                    margin-top: 39px !important;
                    background-color: $main_color;

                    font-size: 22px;
                    border-radius: 28px;

                }
            }

        }

        /*End of search form*/

    }


}


// @media(max-width:1170px) 



// @media(max-width:1061px)

@media (max-width: 768px) {
    .search-bar-container {
        display: block;
        position: relative;

        .container {
            position: relative;

            /*Start of search form*/
            .search-form-container {
                position: relative;
                margin-bottom: 104px;
                // margin-top: 57px;

                .form-group {
                    position: relative;

                    input[type="text"] {
                        width: 340px;
                        height: 56px;

                    }
                }

                a#search-event-btn {
                    width: 170px !important;
                    line-height: 2.4rem;
                    margin-top: 39px !important;
                    background-color: $main_color;

                    font-size: 24px;
                }

                a#search-event-btn-2 {
                    width: 170px !important;
                    height: 56px;
                    line-height: 2.4rem;
                    margin-top: 39px !important;
                    background-color: $main_color;

                    font-size: 22px;
                    border-radius: 0px !important;

                }

            }

            /*End of search form*/
        }
    }
}