<section class="search-bar-container">
  <div class="container">
    <h3>Events</h3>
    <p>Start networking at our events!</p>
    <div class="search-form-container">
      <form action="#" method="POST">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="search">Search</label>
            <input
              type="text"
              name="search"
              ngModel
              #search="ngModel"
              id="search"
              class="form-control"
              placeholder="Search for type of event"
              required
            />
          </div>
        </div>
    <div class="col-md-4">
          <div class="form-group">
            <label for="where">Where</label>
            <input
              type="text"
              name="where" 
              ngModel
               #where="ngModel"
              id="where"
              class="form-control"
              placeholder="Location, Zip Code, City"
              required
            />
          </div>
        </div>
       <div class="col-md-2">
          <div class="form-group">
      <a
            href="events/search-events-restult"
            class="btn btn-danger"
            type="submit"
            id="search-event-btn"
            >Search</a
          >
          </div>
        </div>

       <div class="col-md-2">
          <div class="form-group">
      <a
            href="events/post-events"
            class="btn btn-danger"
            type="submit"
            id="search-event-btn-2"
            >Post Event</a>
          
          </div>
        </div>
      </div>
    </form>
    </div>
    
  </div>
</section>
