<section class="search-bar-container">
  <div class="container">
    <h3>Events</h3>
    <p>Start networking at our events!</p>
    <form action="#" method="POST">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="search">Search</label>
            <input
              type="text"
              name="search"
              ngModel
              #search="ngModel"
              id="search"
              class="form-control form-control-md"
              placeholder="Search for type of event"
              required
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="where">Where</label>
            <input
              type="text"
              name="where"
              id="where"
              ngModel
              #search="where"
              class="form-control form-control-md"
              placeholder="Location, Zip Code, City"
              required
            />
          </div>
        </div>
        <div class="col-md-2">
          <!-- <button class="btn btn-danger" id="search-event">Search</button> -->
          <a
            href="events/search-events-restult"
            class="btn btn-danger"
            type="submit"
            id="search-event"
            >Search</a
          >
        </div>

        <div class="col-md-2">
          <a href="#" class="btn btn-danger" id="search-event2">Post Event</a>
        </div>
      </div>
    </form>
  </div>
</section>
