<section class="event-pricing">
  <div class="container">
    <div class="pricing-header">
      <h2>Post Event</h2>
      <h3>Pricing for Event</h3>
      <h5>Choose a pricing plan:</h5>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a
          href="#"
          class="btn btn-outline-secondary btn-lg font-weight-bold active"
          >Paid</a
        >
      </div>
      <div class="col-md-4">
        <a href="#" class="btn btn-outline-secondary btn-lg font-weight-bold"
          >Free</a
        >
      </div>
      <div class="col-md-4">
        <a href="#" class="btn btn-outline-secondary btn-lg font-weight-bold"
          >Donation</a
        >
      </div>
    </div>
  </div>
</section>
