$main_color: #C93679;
$parColor: #222222;
$fontSize: 42px;
$paraSize: 21px;

.events-details {
    position: relative;

    h2 {
        color: $main_color;
        margin: 32px 0px 18px 0px;
        font-size: $fontSize;
    }

    p.hosted,
    p {
        margin-bottom: 16px;
        color: $parColor;
        font-size: $paraSize;
    }

    .ticket-price {
        height: 100vh;
        position: relative;
        // position: absolute;
        margin-top: 309px;
        // top: 60%;
        // left: 5%;
        // right: 0;
        // bottom: 0;

        p.text-muted {
            font-size: $paraSize;
        }


        .ticket-download-heart {
            position: relative;
            display: flex;
            display: inline-flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;


            >div {
                margin: 10px;
            }

        }

        .upload {
            position: relative;

            .fa-upload {
                font-size: 45px;
                margin-top: 6px;
                cursor: pointer;
                color: #716c6c;
            }
        }

        .heart {
            position: relative;

            .fa-heart {
                font-size: 45px;
                margin-top: 11px;
                cursor: pointer;
                color: #716c6c;
            }
        }

        .buy-ticket {
            a.btn-danger {
                width: 178px;
                height: 60px;
                line-height: 60px;
                text-align: center;
                padding: 0px;
                background-color: $main_color !important;
                font-weight: bold;
                font-size: $paraSize;
            }

            p.available-seats {
                color: #FF0A00;
                font-weight: bold;
                font-size: $paraSize;
                margin-top: 40px;

            }
        }

    }
}



@media (max-width: 768px) {
    .events-details {
        position: relative;

        .ticket-price {
            margin-top: 0px;
        }

        .ticket-download-heart {
            position: relative;
            display: inline-flex;
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: wrap;



            >div {
                display: block;
                margin: 14px 14px 0px 0px !important;
                // margin: 3px !important;
            }
        }


        .upload {
            position: relative;


            .fa-upload,
                {
                font-size: 35px !important;
                margin-top: 14px !important;

            }
        }

        .heart {
            position: relative;

            .fa-heart {
                font-size: 35px !important;
                margin-top: 14px !important;
            }
        }


    }
}