<section class="checkout-payment-method">
  <div class="container">
    <div class="checkout-title">
      <h3>Checkout</h3>
    </div>
    <div class="checkout-box">
      <div class="row">
        <div class="col-md-4 box-shadow">
          <img
            src="https://source.unsplash.com/1600x900/?nurse"
            class="img-fluid"
            alt="checkout image"
          />
        </div>
        <div class="col-md-4 middle box-shadow">
          <h4>UX Design Workshop</h4>
          <div class="mid-box">
            <div class="mid-box-center-content">
              <p class="date">
                <b>Sat Apr 25, 11:00 AM</b>
              </p>
              <p class="state">New York, NY</p>
              <p class="ticket"><b>Tickets: 1</b></p>
            </div>
            <!-- Right box container -->
            <div class="mid-box-right-content">
              <p class="quantity"><b>Quantity</b></p>
              <select name="" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
              </select>
              <p class="c-quantity"><a href="#">Change Quantity</a></p>
              <p class="delete">
                <a href="#" class="text-danger">Delete</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="checkout-summary">
            <h4>Summary</h4>
            <div class="summary-content">
              <div class="table-responsive">
                <table class="table table-borderless table-sm">
                  <tbody>
                    <tr>
                      <td>Price per ticket:</td>
                      <td>$5.00</td>
                    </tr>
                    <tr>
                      <td>Sub Total:</td>
                      <td>$5.00</td>
                    </tr>

                    <tr>
                      <td>Tax:</td>
                      <td>Tax:</td>
                    </tr>
                    <tr>
                      <td>Total:</td>
                      <td>$ 6.75</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
