<section class="checkout-container">
  <div class="container">
    <div class="checkout-title">
      <h3>Checkout</h3>
    </div>

    <div class="row">
      <div class="col-md-8 checkout-shared-bg">
        <div class="boxes-host">
          <div class="box-w-image">
            <img
              src="https://source.unsplash.com/1600x900/?newyear"
              alt=""
              class="img-fluid"
            />
          </div>

          <div class="date-state-box">
            <div class="box-title"><h3>UX Design Workshop</h3></div>
            <p class="date">
              <b
                >Sat <br />
                Apr25, 11:00 AM</b
              >
            </p>
            <p class="location">New York, NY</p>
            <p class="ticiket"><b>Tickets: 1</b></p>
          </div>
          <!-- Quantity -->
          <div class="quantity-box">
            <p class="quantity"><b>Quantity</b></p>
            <select name="" id="">
              <option value="">1</option>
              <option value="">2</option>
              <option value="">3</option>
              <option value="">4</option>
              <option value="">5</option>
            </select>
            <p class="mt-3"><a href="#">Change Quantity</a></p>
            <p>
              <a href="#" class="text-danger font-weight-bold">Delete</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>

      <div class="col-md-3 checkout-summary">
        <h3>Summary</h3>
        <div class="table-responsive">
          <table class="table table-borderless table-sm">
            <tbody>
              <tr>
                <td>Price per ticket:</td>
                <td>$5.00</td>
              </tr>
              <tr>
                <td>Sub Total:</td>
                <td>$5.00</td>
              </tr>

              <tr>
                <td>Tax:</td>
                <td>$ 1.75</td>
              </tr>
              <tr>
                <td>Total:</td>
                <td>$ 6.75</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
