.search-events-container {
    position: relative;

    .search-content {
        margin-top: -80px;

        select {
            width: 125px;
            height: 56px;
            background-color: #EFEFEF;
            border: 1px solid #EFEFEF;
            color: #222;
            padding: 10px;
            margin-bottom: 10px;

            option {
                border-bottom: 1px solid #222;
            }
        }
    }
}