/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
    box-sizing: border-box;
}


@font-face {
    font-family: SuisseIntl;
    src: url(assets/fonts/SuisseIntl-Regular.otf);
}
body {
    font-family: SuisseIntl;
}